################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgoProject/bin/Debug/netcoreapp3.1
/AlgoProject/obj
